.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  color: white;
}

.navList {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
}

.navBar {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #131B23;
}

.logoImg {
  height: 60px;
}

.onboardingPage {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  text-decoration-color: #131B23;
}

.onboardingVideo {
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.mainSubtitleText {
  margin-top: 0px;
}

.secondarySubtitleText{
  margin-top: 0px;
}

.mainHeaderDiv {
  background-color: #131B23;
  color: #ffff;
  padding: 5vw;
}

.mainContentDiv {
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.mainTitleText {
  margin: 0px;
}

.ourTeamList {
  list-style-type: none;
}

.contentDiv {
  padding: 5vw;
}

.authenticationDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.authenticationContent {
  background-color: #E9F1F7;
  border-radius: 10px;
  padding: 5vw;
}

.authenticationBtn {
  float: right;
}

.smallTextAuthentication {
  margin-top: 1vw;
  text-align: center;
}

.evenSmallTextAuthentication {
  text-align: center;
  font-size: small;
}