.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  color: white;
}

.navList {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
}

.navBar {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #131B23;
}

.logoImg {
  height: 60px;
}

.onboardingPage {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  text-decoration-color: #131B23;
}

.onboardingVideo {
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.mainSubtitleText {
  margin-top: 0px;
}

.secondarySubtitleText{
  margin-top: 0px;
}

.mainHeaderDiv {
  background-color: #131B23;
  color: #ffff;
  padding: 5vw;
}

.mainContentDiv {
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.mainTitleText {
  margin: 0px;
}

.ourTeamList {
  list-style-type: none;
}

.contentDiv {
  padding: 5vw;
}

.authenticationDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.authenticationContent {
  background-color: #E9F1F7;
  border-radius: 10px;
  padding: 5vw;
}

.authenticationBtn {
  float: right;
}

.smallTextAuthentication {
  margin-top: 1vw;
  text-align: center;
}

.evenSmallTextAuthentication {
  text-align: center;
  font-size: small;
}

.searchBar {
  margin-bottom: 5vw;
}

.resourcesContentDiv {
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
}

.resourcesLists {
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.profileTabDiv {
  display: flex;
  flex-direction: row;
}

#tabContainer {
  width: 100%;
}

.tabNavItem {
  width: 50%;
}

.editProfileButton{
  margin-bottom: 5vw;
  background-color: #E9F1F7;
  color: black;
  border-color: #131B23;
}

.editProfileButton:hover{
  background-color: #131B23;
}

.tabContentItem {
  margin-top: 5vw;
}

.postMainDiv {
  background-color: #E9F1F7;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2vw;
  text-align: start;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.postContentDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textInPostDiv {
  background-color: #FFFF;
  padding: 1vw;
  border-radius: 10px;
  width: 100%;
  margin-right: 2vw;
  margin-bottom: 1vw;
}

.link {
  background:none;
  border:none;
  padding: 0px;
  color: blue;
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

.profileDropdownButton {
  background-color: none;
  outline: none;
  color: white;
  appearance: none;
}

.nav-link {
  color: white;
}

.invisibleDivider {
  margin-top: 5vw;
}

.contactUsLink {
  text-decoration: none;
}

.tabContainer {
    background-color: white;
    color: black;
}

.savePostButton {
  background-color: #E9F1F7;
  border: none;
  color: none;
}

.createNewPostDialogTitleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createNewPostDialogContentDiv {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.createNewPostIcon {
  font-size: 5em;
}

.SaveOrgArticleLink {
  font-size: 1.5em;
}

.suicidalThoughtsCitation {
  font-size: 0.8em;
}

.TedTalkCitation {
  font-size: 0.8em;
}

.mentalHealthVideoCitation {
  font-size: 0.8em;
}


.mentalHealthTipsLink {
  font-size: 1.5em;
}

.mentalHealthTipsCitation {
  font-size: 0.8em;
}

.notLoggedInDialogDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}

.notLoggedInDialogBtn {
  margin-top: 1vw;
  margin-bottom: 1vw;

.onboardingVideoCitation {
  font-size: 0.8em;
}
